<!DOCTYPE html>
<html>
  <head>
    <title>Design and fill your form easily</title>
    <meta content="utf8">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/framework.css">
    <link rel="stylesheet" href="assets/css/dragdroplist.css" />
    <link rel="stylesheet" href="assets/css/formless3.css" />


    <script src="assets/js/angular.js"></script>

    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.14.2.min.js"></script>

    
    <script src="app/angular-drag-and-drop-lists.js"></script>
    <script src="app/formless3.js"></script>    
  </head>
<body ng-app="MainApp">
	<div class="container nestedDemo" ng-controller="FormDesignCtr">
	<!-- Markup for lists inside the dropzone. It's inside a seperate template
	     because it will be used recursively. The dnd-list directive enables
	     to drop elements into the referenced array. The dnd-draggable directive
	     makes an element draggable and will transfer the object that was
	     assigned to it. If an element was dragged away, you have to remove
	     it from the original list yourself using the dnd-moved attribute -->
	<script type="text/ng-template" id="list.html">
	    <ul dnd-list="list">
		<li ng-repeat="item in list"
		    dnd-draggable="item"
		    dnd-effect-allowed="move"
		    dnd-moved="list.splice($index, 1)"
		    dnd-selected="models.selected = item"
		    ng-class="{selected: models.selected === item}"
		    ng-include="item.type + '.html'">
		</li>
	    </ul>
	</script>
	
	<!-- This template is responsible for rendering a container element. It uses
	     the above list template to render each container column -->
	<script type="text/ng-template" id="container.html">
	    <div class="container-element box box-blue">
		<h3>{{item.name}} {{item.id}}</h3>
		<div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
		<div class="clearfix"></div>
	    </div>
	</script>
	
	<!-- Template for a normal list item -->
	<script type="text/ng-template" id="item.html">
	    <div class="item">
	    	<div class='label-block'>
	    		<label class='label-field' {{item.label}}>{{item.label}}</label>
	    		<span ng-if="item.required == 'yes' " class='required-field'>*</span>
	    	</div>
	    	<div class='item-block'>
	    		<html-render item="item" val='component'></html-render>
	    	</div>
	    </div>
	</script>
	
	<!-- Main area with dropzones and source code -->
	<div class="col-md-12">
		<div class="ribbon">
		  <uib-tabset>
		    <uib-tab heading="File">	
				<div class='ribbon-tab' ng-controller="FileMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Edit">
				<div class='ribbon-tab' ng-controller="EditMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="View">
				<div class='ribbon-tab' ng-controller="ViewMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Tool">
				<div class='ribbon-tab' ng-controller="ToolMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Objects">
		    <div class='ribbon-tab'>
			    <div class="list-field">
				    <div class="list-field-item" ng-repeat="item in models.templates | filter: {type: 'item'}"
				        dnd-draggable="item"
				        dnd-effect-allowed="copy"
				        dnd-copied="item.id = item.id + 1">
				        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
				        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
				    </div>
				</div>
			</div>
			</uib-tab>
		    <uib-tab heading="Fields">
		    <div class='ribbon-tab'>
		    	<div class="list-field">
				    <div class="list-field-item" ng-repeat="item in models.templates | filter: {type : 'container'}"
				        dnd-draggable="item"
				        dnd-effect-allowed="copy"
				        dnd-copied="item.id = item.id + 1"
				        >
				        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
				        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
				    </div>
				</div>
			</div>
			</uib-tab>

		  </uib-tabset>
		</div>

	    <div class="row">
			<div ng-repeat="(zone, list) in models.dropzones" class="col-md-9 template-zone">
			    <div class="dropzone box box-yellow">
			        <!-- The dropzone also uses the list template -->
			        <h3> {{zone}}</h3>
			        <div ng-include="'list.html'"></div>
			    </div>


			    <pre>{{modelAsJson}}</pre>

			</div>


			<div class="col-md-3">	

			   	<div ng-if="models.selected.type == 'item'" class="box box-grey box-padding">
					<h3>Selected</h3>
					<strong>Type: </strong> {{models.selected.name}}<br>
					<strong ng-if="models.selected.required != null">
						Require <input type="checkbox" ng-model="models.selected.required" ng-true-value="'yes'" ng-false-value="'no'">
					</strong><br/>
					<strong>Label: </strong> <input type="text" ng-model="models.selected.label" class="form-control" style="margin-top: 5px" />

					<div ng-if='models.selected.properties != null'>
						<html-render item='models.selected' val='properties'></html-render>
					</div>
				</div>

				<div ng-if="models.selected.type == 'container'" class="box box-grey box-padding">
					<h3>Selected</h3>
					<strong>Object: </strong> {{models.selected.name}}<br>
					<strong>ID: </strong> {{models.selected.id}}
				</div>

				<!--
				<div class="trashcan box box-grey box-padding">
				-->
				<!-- If you use [] as referenced list, the dropped elements will be lost -->
				<!--
				<h3>Trashcan</h3>
				<ul dnd-list="[]">
				    <li>
				    	<img src="assets/img/trashcan.png">
				    </li>
				</ul>
				-->
				<!--
			    </div>
				-->
			</div>
	    </div>
	</div>
	
	<!-- Sidebar -->

</body>
</html>
