<!DOCTYPE html>
<html>
  <head>
    <title>Design and fill your form easily</title>
    <meta content="utf8">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/framework.css">
    <link rel="stylesheet" href="assets/css/dragdroplist.css" />
    <link rel="stylesheet" href="assets/css/formless3.css" />


    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="assets/js/xml2json.js"></script>    

	<script src="app/angular-drag-and-drop-lists.js"></script>
    <script src="app/formless3.js"></script>    
    <script src="app/schema.js"></script>    


  </head>
<body ng-app="MainApp">

<div ng-controller="FormDesignCtr">
	<div class="container-fluid nestedDemo" ng-if="schema.jsonText != null">
	<!-- Markup for lists inside the dropzone. It's inside a seperate template
	     because it will be used recursively. The dnd-list directive enables
	     to drop elements into the referenced array. The dnd-draggable directive
	     makes an element draggable and will transfer the object that was
	     assigned to it. If an element was dragged away, you have to remove
	     it from the original list yourself using the dnd-moved attribute -->
	<script type="text/ng-template" id="list.html">
	    <ul dnd-list="list">
		<li ng-repeat="item in list"
		    dnd-draggable="item"
		    dnd-effect-allowed="move"
		    dnd-moved="list.splice($index, 1)"
		    dnd-selected="selectItem(item)"
		    ng-class="{selected: models.selected === item}"
		    ng-include="item.type + '.html'"
		    flitem="models">

		</li>
	    </ul>
	</script>


	
	<!-- This template is responsible for rendering a container element. It uses
	     the above list template to render each container column -->
	<script type="text/ng-template" id="container.html">
	    <div class="container-element box box-blue" vocab="{{models.vocab}}" about="{{models.prefix}}{{item.name}}{{item.id}}" typeof="{{models.prefix}}{{item.name}}" >
		<h3> 
			Object = <input class='input-transparent' type='text' ng-model="item.name" value="item.name"/>
			<br/>
			ID = <input class='input-transparent' type='number' ng-model="item.id" style="width:50px"/>
		</h3>

		<div class="column" ng-repeat="list in item.templates" ng-include="'list.html'"></div>
		<div class="clearfix"></div>
	    </div>
	    <a class='mini-item item-remove glyphicon-minus item-fix' ng-click='removeItem(item)'></a>
	</script>
	
	<!-- Template for a normal list item -->
	<script type="text/ng-template" id="item.html">
	    <div ng-if='item.noinput == null' class="item">
	    	<div class='label-block'>
	    		<span ng-if="item.required == 'yes' " class='required-field'>*</span>
	    		<input class='input-transparent label-field' type='text' ng-model="item.label" value="item.label"/>
	    		<br/>
	    			<div ng-if="item.semantic.class != null">
						Property = 
						<select class='input-transparent' ng-model='item.semantic.property'>
	    					<option ng-repeat="property in findProperties(item.semantic.class)" value="{{property}}">{{property}}</option>
						</select>
					</div>
	    		<span class='label-semantic'>[{{item.name}}] {{item.semantic.class}} / {{item.semantic.property}} </span>
	    	</div>
	    	<div class='item-block'>
	    		<html-render item="item" val='component'></html-render>
	    	</div>
	    </div>

	    <div ng-if='item.noinput != null' class="item">
	    	<html-render item="item" val='component'></html-render>
	    </div>
	    <a class='mini-item item-remove glyphicon-minus item-fix' ng-click='removeItem(item)'></a>
	</script>
	
	<!-- Main area with dropzones and source code -->
	<div class="col-md-12">
		<!--
		<div class="ribbon">
		  <uib-tabset>
		    <uib-tab heading="File">	
				<div class='ribbon-tab' ng-controller="FileMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Edit">
				<div class='ribbon-tab' ng-controller="EditMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="View">
				<div class='ribbon-tab' ng-controller="ViewMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Tool">
				<div class='ribbon-tab' ng-controller="ToolMenuCtr">
					<div class="list-field">
					    <div class="list-field-item" ng-repeat="item in commands">
					        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
					        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
					    </div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Objects">
		    <div class='ribbon-tab'>
			    <div class="list-field">
				    <div class="list-field-item" ng-repeat="item in models.templates | filter: {type: 'container'}"
				        dnd-draggable="item"
				        dnd-effect-allowed="copy"
				        dnd-copied="item.id = item.id + 1">
				        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
				        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
				    </div>
				</div>
			</div>
			</uib-tab>
		    <uib-tab heading="Fields">
		    <div class='ribbon-tab'>
		    	<div class="list-field">
				    <div class="list-field-item" ng-repeat="item in models.templates | filter: {type : 'item'}"
				        dnd-draggable="item"
				        dnd-effect-allowed="copy"
				        dnd-copied="item.id = item.id + 1"
				        >
				        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
				        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
				    </div>
				</div>
			</div>
			</uib-tab>

		  </uib-tabset>
		</div>
	-->

	    <div class="row">
	    	<div class="col-md-3">
	    		<div class="box box-grey box-padding leftbar">
					<h3>Toolbox</h3>

					<div class='menubar' ng-controller="MenuCtr">
			    		<span href="#" ng-repeat="item in commands" tooltip-placement="bottom" uib-tooltip="{{item.name}}" class="glyphicon {{item.icon}}" aria-hidden="true">
			    		</span>
					</div>
					
						<h5>Fields</h5>
						<div class="menubar">
							<span href="#" ng-repeat="item in models.templates"
						        dnd-draggable="item"
						        dnd-effect-allowed="copy"
						        dnd-copied="item.id = item.id + 1"
						        tooltip-placement="bottom" uib-tooltip="{{item.name}}"
						        class="glyphicon {{item.icon}}" aria-hidden="true">
						    </span>
				    	</div>
				    <!--
						<h5>Objects</h5>
						<div>
							
							<input type="text" placeholder='Type to search an object' class='form-control' ng-model="foundObject" uib-typeahead="item.name for item in models.templates | filter: {type : 'container'} | filter:$viewValue | limitTo:8" class="form-control">
						

							<div class="list-field-item" ng-repeat="item in models.templates | filter: {type : 'container'}"
						        dnd-draggable="item"
						        dnd-effect-allowed="copy"
						        dnd-copied="item.id = item.id + 1"
						        >
						        	<span class="glyphicon {{item.icon}}" aria-hidden="true"></span>
						        	<span class="glyphicon-text" aria-hidden="true">{{item.name}}</span>
						    </div>
						

						</div>
					-->
				</div>
	    	</div>
			<div ng-repeat="(zone, list) in models.dropzones" class="col-md-6 template-zone">
			    <div class="dropzone box box-grey centerarea">
			        <!-- The dropzone also uses the list template -->
			        <h3> Form Design</h3>
			        <div ng-include="'list.html'"></div>
			    </div>


			    <pre>{{schema}}</pre>
			    <pre>{{models.selected}}</pre>
			    <pre>{{modelAsJson}}</pre>

			</div>


			<div class="col-md-3">	

			   	<div class="box box-grey box-padding rightbar">
			   		<h3>Properties</h3>

				   	<div ng-if="models.selected.type == 'item'">
						<h5>Field</h5>
						<strong>Type: </strong> {{models.selected.name}}<br>
						<strong ng-if="models.selected.required != null">
							Require <input type="checkbox" ng-model="models.selected.required" ng-true-value="'yes'" ng-false-value="'no'">
						</strong><br/>
						<strong>Label: </strong> <input type="text" ng-model="models.selected.label" class="form-control" style="margin-top: 5px" />

						<div ng-if='models.selected.properties != null'>
							<html-render item='models.selected' val='properties'></html-render>
						</div>

					</div>

					<div ng-if="models.selected.type == 'container'">
						<h5>Object</h5>
						<strong>Type: </strong> <input type='text' ng-model="models.selected.name" class='form-control'/><br>
						<strong>ID: </strong> <input type='number' ng-model="models.selected.id" class='form-control'/>
					</div>

					<div ng-if="models.selected.semantic.class != null">
						<h5>Semantic infomation</h5>
						<strong>Object: </strong> {{models.selected.semantic.class}}<br>
						<strong>ID: </strong> {{models.selected.semantic.id}}<br>
						<strong>Properties: </strong> 
						<select class='form-control' ng-model='models.selected.semantic.property'>
	    					<option ng-repeat="property in findProperties(models.selected.semantic.class)" value="{{property}}">{{property}}</option>
						</select>
					</div>
				</div>

				<!--
				<div class="trashcan box box-grey box-padding">
				-->
				<!-- If you use [] as referenced list, the dropped elements will be lost -->
				<!--
				<h3>Trashcan</h3>
				<ul dnd-list="[]">
				    <li>
				    	<img src="assets/img/trashcan.png">
				    </li>
				</ul>
				-->
				<!--
			    </div>
				-->
			</div>
	    </div>
	</div>
</div>
</div>

<div ng-controller="SchemaCtr">
	<div class="container" ng-if="schema.structure == null">
		<h3>Please select an OWL file</h3>
		File can be found at : <b>{{schema.path}}</b>
  		<input type="file" data-file="schema.structure"/>
   <div>
</div>
</body>
</html>
